/* start global */

*
{
	-webkit-box-sizing: border-box;
	-mos-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body
{
	padding:0;
	margin:0;
	height:1000px
}

.container
{
	width:1200px;
	margin:auto;
}

ul
{
	list-style:none;
	padding:0;
	margin:0;
	
	
}

/* end global */

/* start navbar */

.navbar 
{
	
	font-size:20px;
	height:0;
	color:#FFF;
	position:relative;
	z-index:2
}
 

.navbar .brand
{
	float: left;
	width:40%;
	text-transform:uppercase;
}


.navbar .links
{
	float: left;
	width:60%;
	margin-top:15px
}

.navbar .links li
{
	display:inline-block;
	padding:10px 0;
	margin:0 10px;
	border-bottom: 2px solid transparent;
	font-weight: bold
}

.navbar .links li a
{
	text-decoration: none;
	color:#FFF
}

.navbar .links li.active a,
.navbar .links li a:hover
{
	color:#1abc9c;
}


.navbar .links li.active,
.navbar .links li:hover
 {
	
	border-bottom: 2px solid #1abc9c
}

/* end navbar */

/* start header */

.header {
	background-image: url('../images/city.jpg.jpg');
	position:relative;
	background-size:cover
	
	
}

.header .overlay
{
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	color: #FFF;
	z-index:1
	
}

/* end header */

/* start my frame work*/


.clear
{
	clear: both
}

.special-heading
{
	position:relative
}

.special-heading:after
{
	content: "";
	display:block;
	position:absolute;
	top:30px;
	left:0;
	width:35px;
	border: 1px solid #333
}

.separator
{
	display:block;
	border:1px solid #CCC;
	margin:40px 0 20px;
	
}


/* end my frame work*/ 

/* Start Frmae Work MixItUp */




/* End Frmae Work MixItUp */

/* Start FrameWork Slider */

html, body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 95%;
      height: 95%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
		
    }
     .swiper-container .swiper-slide ul li h2
     {

	font-size:60px;
	margin-bottom:20px;
	margin-top:0
    }

   .swiper-container .swiper-slide ul li h2 span
   {
	color:#1abc9c;
   }

  .swiper-container .swiper-slide ul li p
  {
	font-size:25px;
  }

  .swiper-pagination-bullet {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
      color:#1abc9c;
      opacity: 1;
      background: rgba(0,0,0,0.5);
    }
  .swiper-pagination-bullet-active {
      color:#FFF;
      background: #007aff;
    }



/* End FrameWork Slider */

/* Start Services*/

.services
{
	padding:80px 20px 40PX;
	
}

.services h2
{
	margin: 0 0 50px;
	font-weight:normal
}

.services .item
{
	float:left;
	width:33.333333%;
	margin-bottom:20px;

}

.services .item .icon i
{
	float:left;
	width:20%;
	margin-top:10px;
	margin-right:5%;
	color:#1abc9c;
		
}


.services .item .info
{
	float:left;
	width:75%
}

.services .item .info h3
{
	color:#333;
}

.services .item .info p
{
	color:#777;
	line-height: 1.7;
	margin-top:25px
}

.our-team
{
	padding: 40px 20px;
	
}

.our-team .box1
{
	float:left
}

.our-team .box1:first-child
{
	
	width:30%;
	margin-right:5%

}

.our-team .box1:not(:first-child)
{
	margin-top:10px;
	width:15.25%;
	margin-left:1%;
	position:relative;
	transition: all 2s ease-in
}

.our-team .box1:not(:first-child) .overlay
{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:99%;
	line-height: 185px;
	text-align: center;
	font-size:20px;
	color:#FFF;
	font-weight:bold;
	display:none;
	
	
}

.our-team .box1:not(:first-child):hover .overlay{
	background-color:#1abc9c;
	opacity: .8;
	display:block;
	
}

.our-team .box1:not(:first-child) img
{
	width:100%;
}

.our-team h2 
{
	font-weight:normal;
	padding: 0 0 15px
}

.our-team .box1 p
{
	color:#666;
	line-height:1.6;
	
}
/* End Services*/

/* Start Testimoials */
.testimonials
{
	background-image: url('../images/test.png');
	background-size: cover;
	height:400px;
	position:relative;
	margin:25px 0;
	padding:80px 0
}

.testimonials .t-overlay
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	color:#FFF;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.8);
}

.testimonials h2
{
	margin:80px 0 10px;
	font-size:40px
}

.testimonials q
{
	font-size:20px;
	line-height:1.7;
	color:#D0D0D0;
	display:block;
	margin-top:60px
}

.testimonials p
{
	font-size: 30px;
	color:#1abc9c;
	margin-top:40px;	
}

.testimonials .slider > div
{
	display:none;
}

.testimonials .slider .active
{
	display:block
}

/* End Testimoials */

/*Start Our-Projects*/

.our-projects
{
	padding:50px 0;
	display:none
}

.our-projects h2
{
	font-weight: normal
}

.our-projects ul
{
	margin-top:50px;
	
}

.our-projects ul li
{
	padding:10px;
	border:1px solid #D4CCCC;
	color:#A7A7A7;
	display:inline-block;
	border-radius:5px;
	margin-right:5px;
	cursor: pointer
}

.our-projects ul li.select
{
	background-color:#1abc9c;
	border:1px solid #1abc9c;
	color:#FFF
}

.our-projects .gallary
{
	margin-top:50px;
	overflow:hidden;
}

.our-projects .gallary .row > div
{
	width:30.66666%;
	float:left;
	margin-right: 1%;
	margin-top:0;
	margin-bottom:10px;
	position:relative
}

.our-projects .gallary .row > div img
{
	width:100%;
	
}
.our-projects .gallary .row > div
{
	
}


.our-projects .gallary .row > div .over
{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:99%;
	line-height: 230px;
	text-align: center;
	font-size:20px;
	color:#FFF;
	font-weight:bold;
	background-color: rgba(26, 188, 156, .9);
	display:none
}

.our-projects .gallary .row > div:hover .over,
.our-projects .gallary .row > div:hover .heart
{
	display:block
}

.our-projects .gallary .row > div .heart
{
	position:absolute;
	bottom:20px;
	right:20px;
	display:none;
	color:#FFF;
	
}
/*End Our-Projects*/

/* Start Footr */
.footer
{
	background-color:#232323;
	color:#6C6C6C;
	padding:40px 0;
	overflow:hidden;
	
}
.footer .col
{
	width:25%;
	float:left
}

.footer .col h2
{
	color:#FFF;
	font-weight:normal;
	font-size:18px;
	margin-bottom:25px
}

.footer .col p
{
	margin-bottom:25px;
	line-height: 1.6
}

.footer .col i
{
	display: inline-block;
	color:#979797;
	padding:10px;
	border:1px solid #979797;
	width:40px;
	margin:20px 1px;
	cursor:pointer
}

.footer .copyright
{
	margin-top:30px
}

.footer .tags span
{
	display: inline-block;
	color:#CCC;
	padding:10px;
	border:1px solid #979797;
	margin-right:5px;
	margin-bottom:10px;
	cursor: pointer
	
}

.footer .resent div
{
	overflow:hidden;
	margin:0 0 10px 0;
	
}

.footer .resent div img
{
	float:left;
	margin-right:5px;
	
}

.footer .resent div h4
{
	margin:18px 0;
	color:#CCC;
	font-weight: normal
}

.footer .blog ul li
{
	padding:22px;
	border-bottom:1px solid #979797;
	color:#CCC
}
/* End Footr */